@font-face {
    font-family: Flama-Basic;
    src: url(../fonts/Flama-Basic.otf);
}
body {
  font-family: 'Flama-Basic', sans-serif;
  background:;
  position: relative;
  font-weight:400px;
}

.header{background-color: #0075C8; color:#7fc9e9}

.font18 { font-size:18px }
.font24 { font-size:24px }
.font36 { font-size:36px }
.font48 { font-size:48px }
.font60 { font-size:60px }
.font72 { font-size:72px }
.font96 { font-size:96px }





